.background    { background: #006666;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: #FF3300; }
.wall          { background: rgb(0, 153, 153); }
.actor { position: absolute; }
.player { background: rgb (64, 64, 64); }
.coin { background: rgb (241, 229, 89); }
.monster { background:rgb (255, 51, 0); }
.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
